body{
    margin: 0 auto;
    font-size: 0.85em;
    font-family:  Quicksand;
    background-color: #FEFEFE;
    
}
                                /* ↓MENU↓*/
nav{
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: black ;
    opacity: 0.8;
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin-top:2em;
    margin-bottom: 2em;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    
}

nav ul li a {
    padding: 0.93em;
    display: block;
    color: white;
    text-decoration: none; 
    opacity: 1;
}
    

nav ul li:hover {
    background-color: #113811;
    transition-duration: 0.8s;
    
}

nav ul ul{
    position: absolute;
    width: 15%;
    background-color: black;
    margin-top: 1em;
    margin-left: -1.0em;
    padding: 0em;
    text-align: left;
    display: none;
}
    
 nav ul ul li {
 display: block;
}

nav ul li:hover > ul { 
    display: block;
    }

div.LOGO{
    position: absolute;
    padding: 1.0ex 5ex;
    height: 18ex;
    float: left;
}
                                  /* FIM DO MENU*/



                              
                                     /* ↓RODAPÉ↓*/    
footer{
    clear: both;
    border-top: 0.5ex solid #fff;
    background-color: rgba(0,0,0,0.9);
}
footer p{
    color: white;
    text-align: center;
    margin: 0;
    padding: 1ex;
    font-size: 1.1rem;
}  
footer a{
    color: forestgreen;
    text-decoration: underline;
}
                                  /*FIM DO RODAPÉ*/
 