body{
    margin: 0 auto;
    font-size: 0.85em;
    font-family:  Quicksand;
    background-color: #FEFEFE;
    
}
                                /* ↓MENU↓*/
nav{
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    margin: 0;
    text-align: right;
    
}

nav ul {
    list-style-type: none;
    margin-top:2em;
    margin-bottom: 2em;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
    
}

nav ul li a {
    padding: 0.93em;
    display: block;
    color: white;
    text-decoration: none;   
}
    

nav ul li:hover {
    background-color: #113811;
    transition-duration: 0.8s;
    
}

nav ul ul{
    position: absolute;
    width: 15%;
    background: black;
    margin-top: 1em;
    margin-left: -1.0em;
    padding: 0em;
    text-align: left;
    display: none;
}
    
 nav ul ul li {
 display: block;
}

nav ul li:hover > ul { 
    display: block;
    }

div.LOGO{
    position: absolute;
    padding: 1.0ex 5ex;
    height: 9.5ex;
    float: left;
}
                                  /* FIM DO MENU*/
                   

                                   /* CONTEÚDO */

section.sec2{
    width: 100%;
    height: 5vh;
    background-size: cover;
    background-position: center;
}
.content {
    margin-top: -3%;
}

.content p {
    width: 96ex;
    margin: 0;
    padding: 1ex 1ex 3ex 27ex;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 3.9ex;
}

.content ul{
    width: 96ex;
    margin: 0;
    padding: 1ex 1ex 2ex 27ex;
    text-align: justify;
    font-size: 1.1rem;
    line-height: 3.9ex;
}


h1{
    text-align: center;
    padding: 10ex 1ex 3ex 1ex;
    color: #055105;
    font-size: 2em;
    
}

h2{
    text-align: justify;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 3.9ex;
    margin: 0;
    padding: 2ex 27ex;
     color: #525158;
    
}

h4 {
    margin: 0;
    padding-top: 2ex;
    padding-bottom: 3ex;
    text-align: center;
    font-size: 2em;
    color: #055105;
}



                        /*FIM DA EDIÇÃO DO TEXTO E DO VÍDEO DA HOME*/
                              

                              /*↓RODAPÉ↓*/    
footer {
    clear: both;
    border-top: 0.5ex solid #fff;
    background-color: rgba(0,0,0,0.9);
}

footer p {
    margin: 0;
    padding: 1ex 1ex 1ex 1ex;
    text-align: center;
    font-size: 1.1rem;
    color: white;
}

footer a{
    color: forestgreen;
    text-decoration: underline;
}
                                  /*FIM DO RODAPÉ*/